.Button {
	border: none;
	background-color: transparent;
	font: inherit;
	color: white;
	cursor: pointer;
	padding: .5rem;
	transition: all 0.5s ease;
	line-height: 2rem;
}

.Button:hover {
	background-color: white;
	color: black;
}

.Button:focus {
	outline: none;
}