.OverlayMessage {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: rgba(0,0,0,0.25);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OverlayMessage__Heading:focus {
  outline: none;
  box-shadow: 0 0 .5vh white;
}

.OverlayMessage__Heading {
	border: .25vh solid white;
	display: inline-block;
	font-size: 6vw;
	padding: 2vh;
	max-width: 50vw;
  margin: 0;
}

.OverlayMessage__Saved {
  display: block;
  transition: opacity 1.5s;
}

