body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}



.App {
  min-height: 100vh;
  text-align: center;
}